/* 기본 설정 */
#header-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

#header-page body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header-page .container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex; /* 로고와 메뉴를 같은 줄에 배치 */
  justify-content: space-between; /* 로고와 메뉴 간의 간격을 적절히 분배 */
  align-items: center; /* 수직 중앙 정렬 */
}

/* 헤더 스타일 */
#header-page {
  background-color: #282828;
  color: #fff;
  padding: 0.5em 0; /* 헤더 패딩을 줄임 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-page .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em; /* 폰트 크기 조정 */
  font-weight: bold;
  font-size: medium;
}

#header-page .logo-link {
  display: inline-block;
  margin-left: -200px; /* 로고 위치 조정 */
}

#header-page .logo-image {
  height: 20px;
  width: auto;
}

#header-page nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 메뉴 항목을 수직 중앙 정렬 */
  margin-right: -10em; /* 네비게이션 전체를 더 오른쪽으로 이동 */
}

#header-page nav ul li {
  margin-left: 2em; /* 메뉴 항목 간의 간격 설정 */
}

#header-page nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#header-page nav ul li a:hover {
  color: #19B5FE;
}

/* 미디어 쿼리로 반응형 설정 */
@media (max-width: 700px) {
  #header-page .logo-image {
    height: 5vw; /* 작은 화면에서는 로고 크기 줄임 */
  }

  #header-page nav ul {
    margin-right: 0; /* 화면 크기에 맞춰 네비게이션 위치 조정 */
  }

  #header-page nav ul li {
    margin-left: 1em; /* 작은 화면에서는 메뉴 간 간격 줄임 */
  }
}